<div class="container-fluid">

 <table class="table table-hover" style="width:100%"> 
   <tr><td align="center"><button class="btn btn-default submit" ng-click="showAddInfo()" >修改我的密码</button></td></tr>
</table>

</div>


<div class="modal fade" id="addInfo" tabindex="-1" role="dialog" aria-labelledby="addInfoLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="adrangeInfoLabel">修改登录密码-(带*号必填)</h4>
            </div>
            <form class="form-horizontal" id="inputBannerForm" name="inputBannerForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="name">旧密码*：</label>
                        <div class="col-lg-9">
                            <input ng-show="!showPassword" type="password" class="form-control"  ng-model="oldPassword"  required />
                            <input ng-show="showPassword" type="text" class="form-control"  ng-model="oldPassword"  required />
                            <span ng-if="saveInvalid() == 1" class="invalid-error">请输入旧密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="name">密码*：</label>
                        <div class="col-lg-9">
                            <input ng-show="!showPassword" type="password" class="form-control"  ng-model="password"  required />
                            <input ng-show="showPassword" type="text" class="form-control"  ng-model="password"  required />
                            <span ng-if="saveInvalid() == 2" class="invalid-error">请输入新密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="name">确认密码*：</label>
                        <div class="col-lg-9">
                            <input ng-show="!showPassword" type="password" class="form-control"  ng-model="password2"  required />
                            <input ng-show="showPassword" type="text" class="form-control"  ng-model="password2"  required />
                            <span ng-if="saveInvalid() == 3" class="invalid-error">请输再入一遍新密码</span>
                            <span ng-if="saveInvalid() == 31" class="invalid-error">两次输入的新密码不一致</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="name"></label>
                        <div class="col-lg-9" style="padding-top: 8px;padding-bottom: 8px;padding-left: 15px;">
                            <input type="checkbox" ng-model="showPassword" />&nbsp;显示密码
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sub btn-grey" data-dismiss="modal">关闭</button>
                    <button id="save_button" name="search" type="button" class="btn btn-sub btn-save" ng-disabled="saveInvalid()" ng-click="save()">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>