<!--  START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="images/logo.png" alt="义博事连" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="images/logo-single.png" alt="义博事连" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
              <em class="fa {{app.layout.isCollapsed ? 'fa-indent' : 'fa-dedent'}} fa-fw fa-lg"></em>
            </a>
            <a href="" ng-click="app.asideToggled = !app.asideToggled" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>

      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
       

         <li dropdown="" class="dropdown dropdown-list">
            <a dropdown-toggle="">
               <em class="fa fa-user fa-lg"></em>
               &nbsp;&nbsp;{{username}}
               <span class="caret"></span>
            </a>

            <ul class="dropdown-menu animated flipInX">
               <li>
                  <div class="list-group">

                     <a ui-sref="change-password" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-user  text-info"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">修改密码</p>
                           </div>
                        </div>
                     </a>

                     <a href="javascript:void(0)" ng-click="loginOut()" class="list-group-item">
                        <div class="media-box">
                           <div class="pull-left">
                              <em class="fa fa-sign-out  text-success"></em>
                           </div>
                           <div class="media-box-body clearfix">
                              <p class="m0">退出登录</p>
                           </div>
                        </div>
                     </a>

                  </div>

               </li>
            </ul>

         </li>
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar